body{
	background-color: #ffffcc;
	margin:2em,4em,0em,4em;
}
article{
background-color: white;
font-family: sans-serif;
font-size: 1.25em;
}
article p{
margin: 1em,2em;
}
h1{
font-family: sans-serif;
font-size: 32px;
text-transform: uppercase;
color: #ff3333;
text-align: center;
margin-bottom: 0;
}
.hero{
	width: 100%;
}

#detalis{
	font-size: 20px;
	color: #a9a9ba;
	text-align: center;
}
blockquote{
	margin: 0.5em 4em;
	border: #ececec solid 1pt;
	padding: 1em,2em;
	background-color: #cccccc;
	font-size: 24px;
	font-family: sans-serif;
	text-align: center;
}
#buttons{
margin: 2em;
}
#buttons a{
	border: 1pt soid #a9a9ba;
	text-decoration: none;
	border-radius: 15px;
	padding: 1em;
}
#buttons a:link, #buttons a:visited{
color: #ff0000;
}
#buttons a:hover{
	background-color: #999999;
	color: #ff0000;
}
footer{
background-color: #000000;
color: white;
padding: 1em;
margin: 0;

}
footer a:link, footer a:visited{
text-decoration: none;
color: #ff0000;
}