*{
	box-sizing: border-box;
}
body,section,header,h1,h2,h3,p,div,ul,li{
	padding: 0;
	margin: 0;
}
body{
	font-family: sans-serif;
	box-sizing: border-box;
	background-color: #e4e7eb;
	padding: 40px 45px 10px 45px;
	font-weight: 300;
}
header{
	margin-left: 25px;
}
h1{
	text-align: center;
	font-size: 45px;
	padding: 10px 0;
	font-weight: 600;
}
section{
	width: 910px;
	box-shadow: -1px -1px 7px 5px rgba(182,182,183,0.5);
}
.column{
	display: inline-block;
	background-color: white;
	margin: 0;
	width: 300px;
}
.featured{
	background-color: darkslategrey;
	color: #ffffff;
}
.column h3{
	font-size: 25px;
	padding: 15px 0;
	text-align: center;
}
.price{
	text-align: center;
	font-weight: 800;
	font-size: 36px;
	padding: 15px 0;
}
.free{
background-color: #5bb189;
}
.standard{
background-color: indigo;
}
.professional{
background-color: #ec632a;
}
.price span{
	font-size: 18px;
	font-weight: 300;
}
.column ul{
	list-style: none;

}
.column li{
	padding: 15px 0;
	text-align: center;
	text-transform: capitalize;
	font-weight: 900;
}

.column li:nth-child(2n){
	background-color: #cccccc;
}
.column li span{
	font-weight: 900;
}
.column div{
	padding: 30px 10px;
	text-align: center;
}
.column a{
	display:block;
	padding: 12px 0;
	height: 45px;
}
.column a:link,.column a:visited{
	background-color: #3a6ba5;
	color: white;
	text-decoration: none;
	border-radius: 10px;
	margin-top: 10px;
	font-weight: 600;
	box-shadow: 2px 2px 1px black;
}
.column a:hover{
background-color: #437c;
color: white;
}
#confidence{
	width: 910px;
	background-color: darkslategrey;
	margin-top:40px ;
	padding: 30px;
	color: white;
}
#confidence h2{
font-size: 36px;
font-weight: 600;
}
#confidence ul{
list-style-type: none;
margin-top: 10px;

}
#confidence li{
margin-top: 15px;
font-size: 18px;
font-weight: 400;
background: url(images2/checkmark.jpg) no-repeat;
background-size: 30px;
padding-left: 35px;
}
#confidence a:link,#confidence a:visited{
font-style: italic;
font-weight: 600;
color: lightskyblue;
}